version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "UTC"
    open-pull-requests-limit: 2
    reviewers:
      - "EstrogenHRT"
    assignees:
      - "AriasADev"
      - "EstrogenHRT"
    commit-message:
      prefix: "npm"
      include: "scope"
    labels:
      - "dependencies"
      - "npm"
    
  # Enable version updates for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
      time: "09:00"
      timezone: "UTC"
    open-pull-requests-limit: 1
    reviewers:
      - "EstrogenHRT"
    assignees:
      - "AriasADev"
      - "EstrogenHRT"
    commit-message:
      prefix: "docker"
    labels:
      - "dependencies"
      - "docker"
    rebase-strategy: "auto"
